<!--The content below is only a placeholder and can be replaced.-->

<h2>Hello world: </h2>

<hr>

<nav>
	<a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']"> 
		Home
	</a>
	-
	<a [routerLink]="['/fruta']" [routerLinkActive]="['activado']"> 
		Fruta
	</a>
	-
	<a [routerLink]="['/empleado']" [routerLinkActive]="['activado']"> 
		Empleado
	</a>
	-
	<a [routerLink]="['/contacto']" [routerLinkActive]="['activado']"> 
		Contacto
	</a>
<hr>

<!-- <fruta></fruta> -->
<!-- <empleado></empleado> -->

<router-outlet></router-outlet>
